---
const { post } = Astro.props;

const URL = "http://localhost:1337"; // URL to the API
---

<li class="mt-4">
  <a href={`/blog/${post.attributes.slug}/`}>
    <img
      src={`${URL}${post.attributes.featured_image.data.attributes.url}`}
      alt=""
      class="w-full h-48 object-cover rounded-lg"
    />
    <h4 class="text-lg font-bold">
      {post.attributes.title}
    </h4>
    <p class="text-sm text-gray-500">
      {post.attributes.createdAt}
    </p>
  </a>
</li>
