---
import { Image } from "astro:assets";
import { type SinglePost } from "../../types/postRequest";
import Badge from "./Badge.astro"; // Import the Badge component
import { URL } from "../../consts";

interface Props {
    post: SinglePost;
    loading: "lazy" | "eager";
}

const { post, loading } = Astro.props;
---

<li class="mt-4 sm:hover:scale-105 sm:transition-all xl:mt-0">
    <article>
        <a
            href={`/post/${post.attributes.slug}/`}
            class="flex flex-col justify-start gap-2 sm:gap-4"
        >
            <Image
                src={`${URL}${post.attributes.featured_image.data.attributes.url}`}
                loading={loading}
                alt={post.attributes.featured_image.data.attributes.name}
                class="w-full h-48 object-cover rounded-lg xl:h-64 xl:rounded-lg"
                width="250"
                height="200"
            />
            <p class="text-sm text-violet-700 my-2 font-bold">
                {post.attributes.createdAt.split("T")[0]}
            </p>
            <h4 class="text-2xl font-bold">
                {post.attributes.title}
            </h4>
            <p class="text-base text-gray-500">
                {post.attributes.content.slice(0, 200) + "..."}
            </p>
            <div class="flex items-center justify-start gap-2">
                {
                    post.attributes.categories.data.map((category) => (
                        <Badge category={category.attributes.name} />
                    ))
                }
            </div>
        </a>
    </article>
</li>
